body {
  background-color:#222;
  color:#ddd;
}

a {
  color:#a11;
}

a:hover {
  color:#700;
  text-decoration:underline;
}

.btn-primary {
  background-color:#a11;
  border-color:#a11;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color:#700 !important;
  border-color:#700 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 .25rem rgba(170,17,17,.5)
}

.dark-bg {
  background-color:#333;
}

.navbar {
  background-color:#000 !important;
}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 10; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgba(212,212,212,0.7) !important; /* Fallback color */
 padding-top:50px;
}

/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 max-width:60% !important;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
 text-align:left;
}

/* The Close Button */
.close {
 color: #a11;
 position:absolute;
 right:8px;
 top:0;
 font-size: 14px;
 z-index:11;
 font-weight: bold;
}

.close:hover, .close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

.text-primary {
  color:#a11 !important;
}

.package:hover {
  background-color:rgba(170,17,17,0.9);
  color:#ffffff;
  transition:1s;
}

.content {
  background-color:#ffffff;
  text-align:center;
  padding-top:100px;
  padding-bottom:30px;
  width:100%;
  padding-left:15%;
  padding-right:15%;
}

.red {
  color:#a11;
}

.black {
  color:#000;
}
