body {
  background-color:#222;
  color:#ddd;
}

a {
  color:#a11;
}

.btn-primary {
  background-color:#a11;
  border-color:#a11;
}

.btn-primary:hover {
  background-color:#700;
  border-color:#700;
}

.dark-bg {
  background-color:#333;
}

.navbar {
  background-color:#000 !important;
}
